{% extends 'base.html.twig' %}

{% block title %}Accueil!{% endblock %}

{% block body %}

    
    <div class="col-md-10 col-lg-8 col-xl-7">
        {% for article in articles %}
            <!-- Post preview-->
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">{{ article.titre}} </h2>
                    <h3 class="post-subtitle">{{ article.contenu|raw}}</h3>
                </a>
                <p class="post-meta">
                    Posté par
                    <a href="#!">nantenaina</a>
                    le {{article.createdAt|date('d/m/Y')}}
                </p>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
        {% endfor %}
        <!-- Pager-->
        <div class="d-flex justify-content-end mb-4">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>

{% endblock %}
